


//VARIABLES

//fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$main-font: "Work Sans", sans-serif;
$heading-font: "Outfit", sans-serif;

//colors
$main-color: white;
$dark-color: #5974a9;
$light-color: #c7d9ff;
$contrast-color: #ffa23f;
$hover-color: #033755;

//font sizes
$f-xxxs: 1rem;
$f-xxs: 1.3rem;
$f-xs: 1.5rem;
$f-s: 1.8rem;
$f-m: 2rem;
$f-l: 2.5rem;
$f-xl: 3rem;
$f-xxl: 3.6rem;
$f-xxxl: 4rem;

//spaces
$s-xxxs: 0.5rem;
$s-xxs: 1rem;
$s-xs: 2rem;
$s-s: 3rem;
$s-m: 4rem;
$s-l: 5rem;
$s-xl: 6rem;
$s-xxl: 7rem;
$s-xxxl: 9rem;

//shadows
$main-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;


//mixins
@mixin column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@mixin column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@mixin column-start-end {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

@mixin row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin row-between-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

@mixin row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

@mixin card {
    width: 25%;
    height: 40rem;
    background-color: $light-color;
    border-radius: 16px;
    padding: $s-s;
    box-sizing: border-box;
    box-shadow: $main-shadow;
    position: relative;
    overflow: hidden;

    @include w-2000 {
        height: 50rem;
    }

    @include w-3000 {
        height: 55rem;
    }

    @include w-1400 {
        width: 30%;
    }

    @include w-1200 {
        height: 45rem;
    }

    @include w-1000 {
        width: 80%;
        height: auto;
        margin-bottom: $s-xxl;
    }

    @include w-800 {
        width: 90%;
    }

    @include w-400 {
        width: 100%;
    }
}

@mixin h3card {
    font-size: $f-l;
    color: $hover-color;
    text-align: center;
    letter-spacing: 1.2px;

    @include w-2000 {
        font-size: $f-xl;
    }

    @include w-3000 {
        font-size: $f-xxl;
    }
}

@mixin h4card {
    font-size: $f-m;
    color: $dark-color;

    @include w-2000 {
        font-size: $f-l;
    }

    @include w-3000 {
        font-size: $f-xl;
    }
}

@mixin cardIcon {
    position: absolute;
    font-size: $f-xxxl * 7;
    right: -70px;
    bottom: 0;
    color: $hover-color;
    opacity: 0.1;

    @include w-2000 {
        font-size: $f-xxxl * 8;
        right: -80px;
    }

    @include w-3000 {
        font-size: $f-xxxl * 9;
        right: -90px;
    }

    @include w-1000 {
        font-size: $f-xxxl * 6;
        right: -50px;
    }

    @include w-600 {
        font-size: $f-xxxl * 5;
        right: -45px;
    }
}

@mixin button {
    background-color: $light-color;
    color: $hover-color;
    cursor: pointer;
    border-radius: 16px;
    width: auto;
    height: auto;
    padding: $s-xs $s-xs;
    transition: 0.3s;
    font-size: $f-s;
    border: 5px solid $main-color;
    box-sizing: border-box;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    @include w-2000 {
        font-size: $f-m;
    }

    @include w-3000 {
        font-size: $f-l;
    }

    @include w-600 {
        font-size: $f-xs;
    }
}

@mixin buttonHover {
    background-color: $main-color;
    box-shadow: 0 0 0 5px $light-color;
}


//breakpoints
$breakpoints: (
    "w-330": 330px,
    "w-400": 400px,
    "w-600": 600px,
    "w-800": 800px,
    "w-1000": 1000px,
    "w-1200": 1200px,
    "w-1400": 1400px,
    "w-2000": 2000px,
    "w-3000": 3000px 
);

@mixin w-330 {
    @media only screen and (max-width: map-get($breakpoints, "w-330")) {
        @content;
    }
};

@mixin w-400 {
    @media only screen and (max-width: map-get($breakpoints, "w-400")) {
        @content;
    }
};

@mixin w-600 {
    @media only screen and (max-width: map-get($breakpoints, "w-600")) {
        @content;
    }
};

@mixin w-800 {
    @media only screen and (max-width: map-get($breakpoints, "w-800")) {
        @content;
    }
};

@mixin w-1000 {
    @media only screen and (max-width: map-get($breakpoints, "w-1000")) {
        @content;
    }
};

@mixin w-1200 {
    @media only screen and (max-width: map-get($breakpoints, "w-1200")) {
        @content;
    }
};

@mixin w-1400 {
    @media only screen and (max-width: map-get($breakpoints, "w-1400")) {
        @content;
    }
};

@mixin w-2000 {
    @media only screen and (min-width: map-get($breakpoints, "w-2000")) {
        @content;
    }
};

@mixin w-3000 {
    @media only screen and (min-width: map-get($breakpoints, "w-3000")) {
        @content;
    }
};




body, html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $main-color;
    color: black;
    font-family: $main-font;
    overflow-x: hidden;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
