@import "App";

//Popup card
.popup {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-color;
  padding: $s-s $s-m;
  border-radius: 16px;
  box-shadow: black 0 0 60px;
  z-index: 2;

  h4 {
      font-size: $f-m;
      color: $hover-color;

      @include w-2000 {
        font-size: $f-l;
      }

      @include w-3000 {
        font-size: $f-xl;
      }

      @include w-600 {
        font-size: $f-s;
      }
  }

  button {
      background-color: $contrast-color;
      color: $main-color;
      padding: $s-xxs $s-xs;
      font-size: $f-s;
      width: auto;
      height: auto;
      font-weight: 600;
      border-radius: 16px;
      border: $hover-color 2px solid;
      transition: all 0.2s ease-in-out;

      @include w-2000 {
        font-size: $f-m;
      }

      @include w-3000 {
        font-size: $f-l;
      }

      @include w-600 {
        font-size: $f-xs;
      }
  }

  button:hover {
      cursor: pointer;
      transform: scale(1.06);
  }
}

.popupNewsletter.no,
.popupGdpr.no,
.popupPolicy.no {
  display: none;
}

.popupNewsletter.yes,
.popupGdpr.yes,
.popupPolicy.yes {
  display: block;
  position: fixed;
}

/* Styling celého formuláře */
.formularObject {
    background: $hover-color;
    padding: $s-m $s-m;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: $f-s;
    font-family: $main-font;
    letter-spacing: 1.5px;
  }
  
  /* Styling inputů (jméno, e-mail, telefonní číslo) */
  .inputStyle {
    width: 100%;
    padding: 10px;
    margin-bottom: $s-s;
    border: $light-color 3px solid;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: $light-color;
    font-size: $f-s;
    font-family: $main-font;
  }

  .inputStyle:focus {
    border: $contrast-color 3px solid;
    outline: none;
  }
  
  /* Styling textArea (zpráva) */
  .textArea {
    width: 100%;
    padding: 10px;
    margin-bottom: $s-s;
    border: $light-color 3px solid;
    border-radius: 10px;
    min-height: 100px;
    box-sizing: border-box;
    background-color: $light-color;
    font-size: $f-s;
    font-family: $main-font;
  }
  
  .textArea:focus {
    border: $contrast-color 3px solid;
    outline: none;
  }

  // Styling checkboxu
  .checkboxStyle {
    margin-right: $s-xxs;
    margin-bottom: $s-xxs;
  }

  .checkboxStyle:checked {
    accent-color: $contrast-color;
  }


  /* Barva možností */
  select {
    color: $hover-color;
  }

  /* Styl pro tlačítko */
  .formularButton {
    @include button;
    margin-top: $s-m;
  }
  
  .formularButton:hover {
    @include buttonHover;
  }
  
  /* Efekt při kliknutí */
  .formularButton:active {
    transform: translate(2px, 2px);
    transition-duration: 2s;
  }
  
  /* Styl labelů (popisků) */
  .label {
    margin-bottom: $s-xxs;
    color: $main-color;
  }

  .label span {
    color: $contrast-color;
  }

  .label span:hover {
    cursor: pointer;
  }

  
  /* Media Queries */
  @media only screen and (min-width: 2000px) {
    .label {
      font-size: $f-m;
    }
  
    .formularButton {
      font-size: $f-m;
    }
  }

  @media only screen and (min-width: 3000px) {
    .label {
      font-size: $f-l;
    }
  
    .formularButton {
      font-size: $f-l;
    }
  }

  @media only screen and (max-width: 600px) {
    .textArea {
      min-height: 200px;
    }
  }

   @media only screen and (max-width: 400px) {
    .label {
      font-size: $f-s;
    }
  }


  /* 
  @media only screen and (max-width: 1400px) {
    .formularObject {
      margin: 0 0 0 calc(var(--space-m));
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .formularObject {
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .formularObject {
      width: 100%;
      height: 50rem;
    }
  
    .textArea {
      min-height: 180px;
    }
  
    .formularButton {
      margin-top: var(--space-s);
    }
  
    .label {
      font-size: var(--size-s);
    }
  }
  
  @media only screen and (max-width: 450px) {
    .formularObject {
      height: 60rem;
    }
  
    .textArea {
      min-height: 260px;
    }
  
    .formularButton {
      margin-top: var(--space-s);
    }
  }
   */