@import "App";

/* OBECNÁ NASTAVENÍ */
.outerBox {
    padding-top: $s-l * 2;
    @include column-start-center;
    width: 100%;
    background-color: $main-color;
    height: auto;

    .innerBox {
        width: 90%;
        min-height: 100vh;

        @include w-2000 {
            width: 85%;
        }

        
        @include w-3000 {
            width: 80%;
        }

        @include w-400 {
            width: 92%;
        }

          
        p {
            font-size: $f-m;
            color: $dark-color;
        }
      }
}

footer {
    background-color: $light-color;
    width: 100%;
    @include row-center-center;

    a {
        font-size: $f-xs;
        padding: $s-xs;
        text-decoration: none;
        color: $hover-color;
        transition: all 0.3s ease-in-out;

        @include w-2000 {
            font-size: $f-s;
        }

        @include w-3000 {
            font-size: $f-m;
        }

        @include w-400 {
            font-size: $f-xxs;
        }
    }

    a:hover {
        text-decoration: underline;
        font-size: $f-xs * 1.05;
    }
}


// NAVBAR
.cloudIcon {
    color: $dark-color;
    font-size: $f-xl !important;
    margin-left: $s-xxs;
    padding: 0;
}

#companyName {
    display: none;
}
  
  
//   HOME PAGE
.outerBox {
    .innerBox {
        .clouds {
            background-image: url(../public/images/clouds.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 60rem;
            border-radius: 10px;
            padding: 0;
            position: relative;
            margin-bottom: $s-l * 1.5;

            @include w-1000 {
                margin-top: $s-xxxl;
            }

            @include w-800 {
                height: 50rem;
            }

            @include w-600 {
                height: 35rem;
                margin-bottom: $s-xxxl;
                margin-top: $s-xl;
            }

            h1 {
                padding-top: $s-xl;
                padding-left: $s-xl;
                font-size: $f-xxxl * 2;
                color: $dark-color;
                letter-spacing: 2px;

                @include w-1400 {
                    font-size: $f-s * 4;
                }

                @include w-1000 {
                    font-size: $f-m * 3;
                }

                @include w-800 {
                    font-size: $f-l * 1.8;
                }

                @include w-600 {
                    font-size: $f-xl;
                    padding-left: $s-s;
                    padding-top: $s-s;
                }

                @include w-400 {
                    padding-left: $s-xs;
                    padding-top: $s-xs;
                }

                @include w-330 {
                    font-size: $f-l;
                }

                span {
                    color: $hover-color;
                }
            }

            #mockup {
                width: 60rem;
                height: auto;
                position: absolute;
                right: -15rem;
                top: 15rem;
                transform: rotate(5deg);

                @include w-1400 {
                    width: 50rem;
                    top: 20rem;
                }

                @include w-1000 {
                    width: 45rem;
                }

                @include w-800 {
                    width: 35rem;
                    right: -10rem;
                    transform: rotate(4deg);
                }

                @include w-600 {
                    top: 14rem;
                    right: -8rem;
                    width: 28rem;
                    transform: rotate(3deg);
                }

                @include w-400 {
                    width: 25rem;
                    top: 15rem;
                    right: -7rem;
                    transform: rotate(3deg);
                }

                @include w-330 {
                    right: -10rem;
                }
            }

            .trialButton {
                background-color: $dark-color;
                color: $main-color;
                border: none;
                cursor: pointer;
                border-radius: 16px;
                width: auto;
                height: auto;
                transition: 0.3s;
                font-size: $f-m;
                font-family: $main-font;
                padding: $s-s / 2 $s-m / 2;
                margin-left: $s-xl;
                text-decoration: none;
                position: absolute;
                bottom: $s-l;

                @include w-2000 {
                    font-size: $f-l;
                }

                @include w-3000 {
                    font-size: $f-xl;
                }

                @include w-600 {
                    margin-left: $s-s;
                    font-size: $f-s;
                }

                @include w-400 {
                    margin-left: $s-xs;
                }

            }

            .trialButton:hover {
                background-color: $hover-color;
                box-shadow: 0 0 0 5px $dark-color;
                color: #fff;
            }
        }

        .subheadline {
            p {
                color: $hover-color;
                font-size: $f-m;
                line-height: 1.7;

                @include w-2000 {
                    font-size: $f-l;
                }

                @include w-3000 {
                    font-size: $f-xl;
                }

                @include w-600 {
                    font-size: $f-s;
                }

                span {
                    font-weight: 700;
                }
            }
        }

        .benefits {
            width: 100%;

            h2 {
                font-size: $f-xl * 2;
                margin-top: $s-xxxl;

                @include w-2000 {
                    font-size: $f-s * 4;
                }

                @include w-3000 {
                    font-size: $f-xxxl * 2;
                }

                @include w-1200 {
                    margin-bottom: $s-xxl;
                }

                @include w-1000 {
                    font-size: $f-l * 2;
                }

                @include w-800 {
                    font-size: $f-m * 2;
                }

                @include w-600 {
                    font-size: $f-xl;
                }

                @include w-400 {
                    margin-bottom: $s-l;
                }

            }

            .cards {
                @include row-between-center;
                margin-bottom: $s-xxxl;
                position: relative;

                @include w-1200 {
                    @include column-start-center;
                }

                .card {
                    @include column-start-center;
                    width: 35rem;
                    height: 20rem;
                    background-color: $light-color;
                    border-radius: 16px;
                    box-shadow: $main-shadow;
                    padding-left: $s-m;
                    padding-right: $s-m;
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;

                    @include w-2000 {
                        width: 45rem;
                        height: 25rem;
                    }

                    @include w-3000 {
                        width: 50rem;
                    }

                    @include w-1400 {
                        width: 33rem;
                        padding-left: $s-s;
                        padding-right: $s-s;
                    }

                    @include w-1200 {
                        margin-bottom: $s-xxl;
                    }

                    @include w-600 {
                        padding-left: $s-xs;
                        padding-right: $s-xs;
                        height: 20rem;
                    }

                    @include w-400 {
                        width: 90%;
                    }

                    h3 {
                        font-size: $f-l;
                        color: $hover-color;
                        letter-spacing: 1.5px;
                        margin-top: $s-s;
                        margin-bottom: $s-xs;
                        text-align: center;

                        @include w-2000 {
                            font-size: $f-xl;
                        }

                        @include w-3000 {
                            font-size: $f-xxl;
                        }

                        @include w-400 {
                            font-size: $f-m;
                        }
                    
                    }

                    p {
                        font-size: $f-m;
                        color: $hover-color;
                        margin-top: 0;

                        @include w-2000 {
                            font-size: $f-l;
                        }

                        @include w-3000 {
                            font-size: $f-xl;
                        }

                        @include w-600 {
                            font-size: $f-s;
                        }
                    }
                }

                .cardIcon {
                    color: $hover-color;
                    font-size: $f-xxxl * 5 !important;
                    opacity: 0.2;
                    position: absolute;
                    right: -45px;
                    bottom: 0;
                    margin: 0;
                }

                #cloudPosition {
                    right: -30px;
                }

                .line {
                    width: 100%;
                    height: 5px;
                    background-color: $hover-color;
                    border-radius: 20px;
                    position: absolute;

                    @include w-1200 {
                        transform: rotate(90deg);
                        width: 60rem;
                        top: 50%;
                    }
                }
            }
        }
    }
}




// ABOUT US
.outerBox {
    .innerBox {
        position: relative;
        @include column-start-center;
        width: 90%;

        @include w-2000 {
            width: 70%;
        }

        @include w-3000 {
            width: 60%;
        }

        .firstSection {
            @include row-between-start;
            margin-top: $s-l;

            @include w-1000 {
                @include column-start-center;
            }
            
            h2 {
                font-size: $f-l * 3;
                color: $dark-color;
                letter-spacing: 2px;
                width: 50%;
                margin-top: $s-xxxl;

                @include w-2000 {
                    font-size: $f-xxxl * 2;
                }

                @include w-3000 {
                    font-size: $f-xl * 3;
                }

                @include w-1000 {
                    width: 100%;
                    font-size: $f-xl * 2;
                }

                @include w-800 {
                    font-size: $f-l * 2;
                }

                @include w-400 {
                    font-size: $f-xxxl;
                }
            }

            .rightColumn {
                width: 50%;

                @include w-1000 {
                    width: 100%;
                }

                span {
                    font-weight: 600;
                }

                p {
                    font-size: $f-m;

                    @include w-2000 {
                        font-size: $f-l;
                    }
    
                    @include w-3000 {
                        font-size: $f-xl;
                    }

                    @include w-400 {
                        font-size: $f-s;
                    }
                }
            }
        }

        .secondSection {
            @include row-between-center;
            margin-top: $s-xxl;
            width: 100%;

            @include w-800 {
                @include column-start-center;
            }

            #austinImg {
                width: 40%;
                height: auto;
                border-radius: 16px;
                box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 20px;

                @include w-800 {
                    width: 80%;
                    margin-bottom: $s-xxxl;
                }

                @include w-400 {
                    width: 100%;
                }
            }

            .quoteSection {
                position: relative;
                width: 50%;

                @include w-1000 {
                    width: 55%;
                }

                @include w-800 {
                    width: 100%;
                }

                .quoteIcon {
                    font-size: $f-l * 4;
                    color: $hover-color;
                    position: absolute;
                    bottom: -60px;
                    right: 0;

                    @include w-1000 {
                        font-size: $f-l * 3;
                    }

                    @include w-400 {
                        font-size: $f-l * 3;
                    }
                }

                .quoteIcon:nth-of-type(1) {
                    transform: rotate(180deg);
                    top: -60px;
                    left: 0;
                }

                p {
                    font-size: $f-xxl;
                    font-weight: 600;
                    text-align: center;
                    padding: 0 $s-s;

                    @include w-2000 {
                        font-size: $f-xxxl;
                    }

                    @include w-3000 {
                        font-size: $f-l * 2;
                    }

                    @include w-1000 {
                        font-size: $f-xl;
                        padding: 0 $s-xs;
                    }

                    @include w-400 {
                        font-size: $f-l;
                        padding: 0;
                    }
                }
            }
        }

        .thirdSection {
            @include row-between-start;
            margin-top: $s-xxl;
            margin-bottom: $s-xxl;
            width: 100%;

            @include w-1000 {
                @include column-start-start;
            }

            .leftColumn {
                width: 50%;

                @include w-1000 {
                    width: 100%;
                }

                h2 {
                    font-size: $f-l * 3;
                    color: $dark-color;
                    letter-spacing: 2px;
                    width: 100%;

                    @include w-2000 {
                        font-size: $f-xxxl * 2;
                    }
    
                    @include w-3000 {
                        font-size: $f-xl * 3;
                    }

                    @include w-1000 {
                        font-size: $f-xl * 2;
                    }

                    @include w-800 {
                        font-size: $f-l * 2;
                    }

                    @include w-400 {
                        font-size: $f-xxxl;
                    }
                }

                p {
                    width: 80%;
                    margin-top: $s-l * 3;
                    border-top: 2px solid $light-color;
                    padding-top: $s-xs;
                    border-bottom: 2px solid $light-color;
                    padding-bottom: $s-xs;
                    text-align: left;
                    font-size: $f-m;
    
                    @include w-2000 {
                        font-size: $f-l;
                    }
        
                    @include w-3000 {
                        font-size: $f-xl;
                    }

                    @include w-1000 {
                        margin-top: $s-l;
                        width: 100%;
                        border: none;
                    }

                    @include w-400 {
                        font-size: $f-s;
                        margin-top: 0;
                    }
                    
                    span {
                        font-weight: 600;
                    }
                }
            }

            .timeline {
                width: 50%;
                margin-top: $s-m;
                margin-bottom: $s-xl;
                margin-left: $s-xl;
                border-left: $hover-color solid 3px;
                height: auto;
                box-sizing: border-box;

                @include w-1000 {
                    width: 80%;
                    margin-left: $s-s;
                }
    
                .timelineSection {
                    @include row-start-start;
                    margin-bottom: $s-s;
    
                    .circle {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $hover-color;
                        transform: translateX(-15px);
                        flex-shrink: 0;
                        box-sizing: border-box;
                    }
    
                    .popisek {
                        margin-left: $s-xs;
    
                        h4 {
                            font-size: $f-xl;
                            margin-top: 0;
                            margin-bottom: 0;
                            font-family: $main-font;
                            color: $hover-color;

                            @include w-2000 {
                                font-size: $f-xxl;
                            }

                            @include w-3000 {
                                font-size: $f-xxxl;
                            }
                        }
    
                        p {
                            width: 100%;
                            font-size: $f-m;

                            @include w-2000 {
                                font-size: $f-l;
                            }

                            @include w-3000 {
                                font-size: $f-xl;
                            }

                            @include w-400 {
                                font-size: $f-s;
                            }
                        }
    
                        .timelineLine {
                            width: 15rem;
                            height: 2px;
                            border-radius: 20px;
                            background-color: $light-color;

                            @include w-400 {
                                width: 10rem;
                            }
                        }
                    }
                }
            }
        }

        

        

        

        
    }
}



  
  /* NAVBAR */
  nav {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: auto;
    @include row-between-center;
    padding: $s-s $s-m;
    box-sizing: border-box;
    margin: 0;
    z-index: 2;
  }
  
  .nav-links {
    width: 100%;
    @include row-between-center;
  }
  
  .navLink {
    text-decoration: none;
    font-family: $main-font;
    letter-spacing: 2px;
    font-size: $f-m;
    padding: $s-xxs $s-xs;
    color: $dark-color;
    transition: color 0.2s ease-in-out;
    @include row-center-center;
  }
  
  .navLink:hover {
    cursor: pointer;
    color: $hover-color;
  }

  #homeLink {
    margin-right: $s-xxxl * 2;

    @include w-1400 {
        margin-right: 0;
    }
  }

  #homeLink:hover {
    color: $main-color;
    background-color: $dark-color;
    border-radius: 16px;
    cursor: pointer;
  }

  #homeLink:hover .cloudIcon {
    color: $main-color;
  }

  #homeLink.active {
    background-color: $hover-color;
  }

  #homeLink.active .cloudIcon {
    color: $main-color;
  }
  
  .navLink.active {
    color: $main-color;
    background-color: $dark-color;
    border-radius: 16px;
  }
  
  .nav.scrolled {
    background-color: $main-color;
    padding-top: $s-xs;
    padding-bottom: $s-xs;
  }
  
  
  /* HAMBURGER */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 35px;
    background-color: $dark-color;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
  }
  
  .nav.scrolled .hamburger {
    margin-top: $s-xs;
  }
  
  
  /* Přechod hamburgeru na křížek */
  .nav.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
  }
  
  .nav.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .nav.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
  }




@media only screen and (max-width: 1000px) {
    /* NAVBAR */
    #companyName {
        display: block;
        font-size: $f-l;
        color: $hover-color;
        letter-spacing: 1.8px;
        font-weight: 600;
        margin-top: $s-m;

        @include w-600 {
            font-size: $f-m;
        }
    }

    .nav-links {
      display: none;
    }
  
    .nav.open {
      padding-top: 0;
    }
  
    .nav.open .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      text-align: center;
      transition: 0.3s ease-in-out;
      margin-top: 0;
      z-index: 1;
      padding-top: $s-m;
      padding-bottom: $s-m;
    }
  
    .navLink {
      margin-bottom: $s-xxs;
      color: $dark-color;
    }
  
    .hamburger {
      display: flex;
      z-index: 2;
      margin-top: $s-s;
    }
  
    .nav.open .bar {
      background-color: $dark-color;
    }
    
    .nav-links.show {
      display: flex;
      background-color: $main-color;
    }
  
    #homeLink {
      margin: 0;
    }

    #homeLink.active {
        margin: 0;
        margin-bottom: $s-xs;
      }
  }
  
  /* HOME */
  
  
  /* ABOUT */
  
  
  /* CONTACT */
  
  
  
  
  
  /* RESPONSIVITY */
  .navLink {
    //min 2000px
    @include w-2000 {
        font-size: $f-l;
    }

    //min 3000px
    @include w-3000 {
        font-size: $f-xl;
    }
  }


.navLink {

    //max 400px
    @include w-400 {
        font-size: $f-s;
    }
}
  
