@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body, html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #daf0eb;
  color: black;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

/* OBECNÁ NASTAVENÍ */
.outerBox {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: #daf0eb;
}
.outerBox .innerBox {
  width: 80%;
  border: dashed 0.2px black;
}
.outerBox .innerBox h1 {
  font-size: 4rem;
  color: #3c8eac;
}
.outerBox .innerBox h2 {
  font-size: 3.6rem;
  color: #3c8eac;
}
.outerBox .innerBox p {
  font-size: 2rem;
  color: #3c8eac;
}

/* NAVBAR */
nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #3c8eac;
}

.navLink:hover {
  cursor: pointer;
  color: #002a43;
}

.navLink.active {
  color: #daf0eb;
  background-color: #3c8eac;
  border-radius: 16px;
}

.nav.scrolled {
  background-color: #daf0eb;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 35px;
  background-color: #3c8eac;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.nav.scrolled .hamburger {
  margin-top: 2rem;
}

/* Přechod hamburgeru na křížek */
.nav.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
}

.nav.open .bar:nth-child(2) {
  opacity: 0;
}

.nav.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
}

@media only screen and (max-width: 1000px) {
  /* NAVBAR */
  .nav-links {
    display: none;
  }
  .nav.open {
    padding-top: 0;
  }
  .nav.open .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 0;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .navLink {
    margin-bottom: 1rem;
    color: #3c8eac;
  }
  .hamburger {
    display: flex;
    z-index: 2;
    margin-top: 3rem;
  }
  .nav.open .bar {
    background-color: #3c8eac;
  }
  .nav-links.show {
    display: flex;
    background-color: #daf0eb;
  }
  #homeLink {
    color: #DAFDFF;
  }
}
/* HOME */
/* ABOUT */
/* CONTACT */
/* RESPONSIVITY */
@media only screen and (min-width: 2000px) {
  .outerBox .innerBox {
    width: 70%;
  }
  .outerBox .innerBox h2 {
    font-size: 4rem;
  }
  .outerBox .innerBox p {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  .outerBox .innerBox {
    width: 60%;
  }
  .outerBox .innerBox h2 {
    font-size: 5rem;
  }
  .outerBox .innerBox p {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 800px) {
  .outerBox .innerBox h2 {
    font-size: 3rem;
  }
  .outerBox .innerBox p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .outerBox .innerBox {
    width: 85%;
  }
}
@media only screen and (max-width: 400px) {
  .outerBox .innerBox h2 {
    font-size: 2.5rem;
  }
  .outerBox .innerBox p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .navLink {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=index.css.map */